@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Stint+Ultra+Condensed);
@import url(https://fonts.googleapis.com/css?family=Ultra);
@import url(https://fonts.googleapis.com/css?family=Stint+Ultra+Expanded);

body {
	background-color: #aa9955;
	color: #443333;
	font-size: 20px;
	font-family: 'Roboto', cursive;
	font-weight: 700;
}
title { 
	text-align: center;
	}
h1 {
	color: #443333; 
	text-align: center;
}
li { 
	display: inline;
}

.header {
	font-family: 'Stint Ultra Expanded', cursive;
}

.header span {
	font-family: 'Ultra', serif;
}

.nygreen{
	width: 25%;
}

